ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="/docs/installation") Installation
    li
        h1 Guide
    li(class="#{ current.source == 'intro' ? 'active' : '' }")
        a(href="/docs/guide/intro") Introduction
    li(class="#{ current.source == 'request-parameters-and-bodies' ? 'active' : '' }")
        a(href="/docs/guide/request-parameters-and-bodies") request parameters & bodies
    li(class="#{ current.source == 'routes' ? 'active' : '' }")
        a(href="/docs/guide/routes") routes
    li(class="#{ current.source == 'using routes' ? 'active' : '' }")
        a(href="/docs/guide/using-routes") using routes
    li(class="#{ current.source == 'templating-and-static-content' ? 'active' : '' }")
        a(href="/docs/guide/templating-and-static-content") templating and static content
    li
        h1 Links
    li
        a(href="https://travis-ci.org/daviddenton/fintrospect") Travis
    li
        a(href="https://bintray.com/daviddenton/maven/fintrospect/_latestVersion") Latest Version
    li
        a(href="https://github.com/daviddenton/fintrospect") Github
    li
        a(href="https://github.com/daviddenton/fintrospect") Coveralls
