div.logo
    img(src="images/eye.png")
ul.nav.nav-pills.nav-stacked.nav-docs
    li
        h1 guide
    li(class="#{ current.source == 'index' ? 'active' : '' }")
        a(href=".") overview
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="installation") installation
    li(class="#{ current.source == 'request-parameters-and-bodies' ? 'active' : '' }")
        a(href="request-parameters-and-bodies") request parameters & bodies
    li(class="#{ current.source == 'defining-routes' ? 'active' : '' }")
        a(href="defining-routes") defining routes
    li(class="#{ current.source == 'server-routes' ? 'active' : '' }")
        a(href="server-routes") server routes
    li(class="#{ current.source == 'client-routes' ? 'active' : '' }")
        a(href="client-routes") client routes
    li(class="#{ current.source == 'building-http-responses' ? 'active' : '' }")
        a(href="building-http-responses") building http responses
    li(class="#{ current.source == 'templating-and-static-content' ? 'active' : '' }")
        a(href="templating-and-static-content") templating and static content
    li(class="#{ current.source == 'testing' ? 'active' : '' }")
        a(href="testing") testing
    li
        h1 misc
    li(class="#{ current.source == 'changelog' ? 'active' : '' }")
        a(href="changelog") changelog & migration
