div.logo
    img.logo(src="images/eye.png")
ul.nav.nav-pills.nav-stacked.nav-docs
    li
        h1 guide
    li(class="#{ current.source == 'index' ? 'active' : '' }")
        a(href="http://fintrospect.io") overview
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="http://fintrospect.io/installation") installation
    li(class="#{ current.source == 'request-parameters-and-bodies' ? 'active' : '' }")
        a(href="http://fintrospect.io/request-parameters-and-bodies") request parameters & bodies
    li(class="#{ current.source == 'defining-routes' ? 'active' : '' }")
        a(href="http://fintrospect.io/defining-routes") defining routes
    li(class="#{ current.source == 'server-routes' ? 'active' : '' }")
        a(href="http://fintrospect.io/server-routes") server routes
    li(class="#{ current.source == 'client-routes' ? 'active' : '' }")
        a(href="http://fintrospect.io/client-routes") client routes
    li(class="#{ current.source == 'building-http-responses' ? 'active' : '' }")
        a(href="http://fintrospect.io/building-http-responses") building http responses
    li(class="#{ current.source == 'templating-and-static-content' ? 'active' : '' }")
        a(href="http://fintrospect.io/templating-and-static-content") templating & static content
    li(class="#{ current.source == 'testing' ? 'active' : '' }")
        a(href="http://fintrospect.io/testing") testing
    li(class="#{ current.source == 'examples' ? 'active' : '' }")
        a(href="http://fintrospect.io/examples") examples
    li
        h1 misc
    li(class="#{ current.source == 'changelog' ? 'active' : '' }")
        a(href="http://fintrospect.io/changelog") changelog & migration
