ul.nav.nav-pills.nav-stacked.nav-docs
    li(class="#{ current.source == 'index' ? 'active' : '' }")
        a(href=".") introduction
    li
        h1 guide
    li(class="#{ current.source == 'regarding-finagle' ? 'active' : '' }")
        a(href="regarding-finagle") regarding finagle
    li(class="#{ current.source == 'installation' ? 'active' : '' }")
        a(href="installation") installation
    li(class="#{ current.source == 'request-parameters-and-bodies' ? 'active' : '' }")
        a(href="request-parameters-and-bodies") request parameters & bodies
    li(class="#{ current.source == 'routes' ? 'active' : '' }")
        a(href="routes") routes
    li(class="#{ current.source == 'using-routes' ? 'active' : '' }")
        a(href="using-routes") using routes
    li(class="#{ current.source == 'building-http-responses' ? 'active' : '' }")
        a(href="building-http-responses") building http responses
    li(class="#{ current.source == 'templating-and-static-content' ? 'active' : '' }")
        a(href="templating-and-static-content") templating and static content
    li
        h1 misc
    li(class="#{ current.source == 'changelog' ? 'active' : '' }")
        a(href="changelog") changelog & migration
